$color-black: #000;
$color-gray-190: #333;
$color-gray-160: #444;
$color-gray-150: #555;
$color-gray-130: #666;
$color-gray-120: #777;
$color-gray-90: #999;
$color-gray-60: #aaa;
$color-gray-50: #bbb;
$color-gray-40: #ccc;
$color-gray-30: #ddd;
$color-gray-20: #eee;
$color-gray-10: #f6f6f6;
$color-white: #fff;

$color-text: #333;
$color-primary: #197d61;
$color-primary-20: #03a485;
$color-primary-10: #33ffc6;

@font-face {
  font-family: 'FreeSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/FreeSans.woff') format('woff');
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'FreeSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.4;
    color: $color-text;
}

input {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: $color-primary-20;

    &:hover {
        color: $color-black
    }
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.text-center {
    text-align: center !important;
}
.container {
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    &::after {
        display: block;
        content: "";
        clear: both;
    } 
}
.nav ul {
    float: right;
}
.nav ul li {
    display: inline-block;
    list-style: none;
}
.top-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid $color-gray-30;
}
.top-nav ul li a {
    display: block;
    padding: 8px 8px;
    color: $color-text;

    &:hover {
        color: $color-black;
    }
}
.top-nav .branding {
    display: block;
    float: left;
    color: $color-text;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.top-nav .branding > img {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.label.beta {
    font-weight: normal;
    font-size: 0.8rem;
    background: $color-primary-10;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: 4px;
    border: 1px solid;
}

.search-box {
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    position: relative;
    margin-bottom: 100px;
}

.search-box.minimal {
    margin-top: 15px;
}

.search-box h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.search-box.minimal h2 {
    display: none;
}

.search-input {
    font-size: 1.2rem;
    padding: 12px 12px;
    border: 1px solid $color-gray-20;
    background-color: $color-gray-20;
    border-radius: 8px;
    width: 100%;
    float: left;
}

.search-input:focus {
    background-color: $color-gray-10;
    border-color: $color-gray-40;
    outline: none;
}

.search-button {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    z-index: 1;
    background: none;
    padding: 14px 14px;
    float: left;
    cursor: pointer;
    line-height: 1;
    border: none;
}

.table-box {
    max-width: 100%;
    overflow-x: auto;
    position: relative;
    margin: auto;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
table {
    width: 100%;
    min-width: 600px;
    border-collapse: separate;
    border-spacing: 0;
}
tr th:first-child,
tr td:first-child {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    position: sticky;
    left: 0;
    background-color: $color-white;
    z-index: 2;
}
th {
    font-weight: normal;
    color: $color-gray-120;
}
th, td {
    text-align: left;
    padding:12px 8px;
    border-bottom: 1px solid $color-gray-60;
    border-right: 1px solid $color-gray-60;
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    vertical-align: top;
}
tr th:last-child,
tr td:last-child {
    border-right: none;
}
tr:last-child td {
    border-bottom: none;
}
tr.category,
tr.category th:first-child,
tr.category td:first-child {
    font-size: 0.9rem;
    color: $color-gray-120;
    background-color: $color-gray-10;
}
tr.category th,
tr.category td {
    border-right: none;
}

tr.empty-search td {
    text-align: center;
    font-size: 1.5rem;
    color: $color-gray-120;
    background: $color-gray-10;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.table-box.has-filters tr.category,
.table-box.has-filters tr.category th,
.table-box.has-filters tr.category td,
.table-box.has-filters tr.category th:first-child,
.table-box.has-filters tr.category td:first-child {
    font-size: 0.85rem;
    color: $color-gray-120;
    background-color: $color-white;
    padding-bottom: 0;
    border-bottom: none;
    border-right: 1px solid $color-gray-60;
    font-style: italic;
    line-height: 1;
}
.table-box.has-filters tr.category th:last-child,
.table-box.has-filters tr.category td:last-child {
    border-right: none;
}

tr.related td,
tr.related th {
    border-right: none;
    border-left: none;
    color: $color-gray-120;
    padding-top: 45px;
    padding-bottom: 30px;
}

.term {
    margin-bottom: 0.5rem;
}
.term > span {
    font-size: 1.2rem;
    display: block;
    position: relative;
}
.bracket {
    font-size: 0.9rem;
    color: $color-gray-130;
    font-style: italic;
}
.description, .comments {
    font-size: 0.9rem;
    color: $color-gray-120;
}
.term ~ .term {
    border-top: 1px solid $color-gray-30;
    padding-top: 15px;
    margin-top: 15px;
}

.copy-button {
    background: $color-white;
    border: 1px solid $color-gray-50;
    border-radius: 100%;
    padding: 2px;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    visbility: hidden;
    opacity: 0;
    transition: all 0.12s ease-in-out;

    &:hover {
        background-color: $color-gray-20;
        color: $color-black;
    }
    
    &:focus {
        outline: none;
    }
}

td:hover .copy-button {
    visbility: visbile;
    opacity: 1;
}
.copy-button.success {
    animation: 0.1s linear 1 scale;
}
@keyframes scale {
    0% { 
        transform: scale(1);

    }
    100% { 
        transform: scale(1.2);
        color: $color-primary;
        border-color: $color-primary;
    }
}
.copy-feedback {
    background: rgba($color-primary, 0.35);
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    visbility: hidden;
    opacity: 0;
    transition: all 0.12s ease-in-out;
    animation: 0.25s cubic-bezier(.19,1,.3,.85) 1 ripple;
}
td:hover .copy-feedback {
    visbility: visbile;
    opacity: 1;
}
@keyframes ripple {
    0% { 
        transform: scale(1);
        opacity: 1; 
    }
    100% { 
        transform: scale(2); 
        opacity: 0.3; 
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-gray-10;
}

.col {
    width: 50%;
    float: left;
    padding: 0 30px;
}

.col > h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.col > p {
    margin-bottom: 15px;
}

@media(max-width: 576px) {
    tr th:first-child,
    tr td:first-child {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
    }
    .col {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width: 410px) {
    .label.beta {
        display: none;
    }
}
